<!DOCTYPE html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=850" user-scalable="no">
<title>{{meta_title}}</title>
 <meta name="description" content="{{meta_description}}" />
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6684232/652482/css/fonts.css" />

{{ghost_head}}
</head>
<body>

<header>
	<div class="title">
	<a href="{{@blog.url}}"><h1 id="blog-title">These are places</h1></a>
	<p id="blog-subhead">(Some call it a blog)</p>
	</div>
</header>
	<div class="circle"><a href='http://andrewsimone.com/' class="fill-div"></a></div>
	</div>
	<div class="content">		
			<p class="bio">This is where I convince you I'm not an asshole. I'll probably also <a href="https://twitter.com/asimone">link to twitter</a> because people are supposed to do that somewhere.</p>
	<div class="stupid-line"><a name="skipheader"></a></div>
	
		{{#foreach posts}}
			<div class="post">
				<a href="{{url}}"><h3 class="archive-title">{{{title}}}</h3></a>
				<div class="post-archive">
					<p>{{excerpt characters="18"}}&hellip;</p>
				</div>
					<div class="stupidest-line"></div>
			</div>
		{{/foreach}}
		</div>
	
	</div>
<footer>
	<div class="footer-bullshit">
		<p><a href="mailto:andrewsimone@gmail.com">andrewsimone@gmail.com</a></p>
	</div>

		{{pagination}}

		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46004383-1', 'andrewsimone.com');
  ga('send', 'pageview');

</script>
		
</footer>
</body>
</html>